<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rabi.mullu">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mullu_icon_ml"
        android:label="@string/app_name"
        android:roundIcon="@drawable/mullu_icon_ml"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mullu">

        <activity
            android:name=".activity.LockActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activity.CakeActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activity.CardActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>

        <activity
            android:name=".activity.PhotoActivity"
            android:screenOrientation="sensorPortrait"
            tools:ignore="LockedOrientationActivity"/>
    </application>

</manifest>